/* 同时选择 secret 和 se 标签 */

secret,
se {
    display: inline;
    background-color: black;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0 2px;
    border-radius: 2px;
}

secret:hover,
se:hover {
    background-color: black;
    color: white;
}

@media (prefers-color-scheme: dark) {
    secret,
    se {
        background-color: #22282e;
        color: #22282e;
    }
    secret:hover,
    se:hover {
        background-color: #22282e;
        color: white;
    }
}